{{!< default}}

<body class="home-template">

{{> "header-branded"}}

<section class="splash">
    <a href="https://www.facebook.com/profile.php?id=223877451106384&fref=ts"><img src="{{asset "img/roundelshadow.png"}}" alt="Blog Logo" /></a>
</section>