{{!< default}}

{{> header-branded}}

<main id="content" class="content" role="main">
	<header class="tag-header">
	    <h1 class="tag-title">Gallery</h1>
	</header>
	<div class="loop-grid">
	    {{> "loop-grid"}}
    </div>
</main>