<header class="header-branded">
    <nav>
        <div class="brand-badge">
            <a href="/"><img src="{{asset "img/roundel.png"}}" alt=""></a>
        </div>
        <div>
            <a href="/">Home</a>
        </div>
        <div>
            <a href="/tag/events">Events</a>
            <a href="/tag/new-event">New Events</a>
            <a href="/tag/past-event">Past Events</a>
        </div>
        <div>
            <a href="https://soundcloud.com/moelogic">Listen</a>
            <a href="https://soundcloud.com/moelogic">SoundCloud</a>
            <a href="/tag/downloads">Free Downloads</a>
            <a href="/tag/mixes">Mixes</a>
            <a href="/tag/podcasts">Podcasts</a>
        </div>
        <div>
            <a href="/tag/gallery">Gallery</a>
        </div>
        <div>
            <a href="/contact">Contact</a>
            <a href="/contact">Find Us</a>
            <a href="https://twitter.com/MoeLogic">Twitter</a>
        </div>
        <div>
            <a href="https://www.facebook.com/moelogicevents"><i class="fa fa-facebook-square"></i></a>
            <a href="https://soundcloud.com/moelogic"><i class="fa fa-soundcloud"></i></a>
        </div>
    </nav>
</header>
<header class="header-branded-mobile">
    <nav>
        <a href="/">Moe Logic</a>
        <a href="/tag/events">Events</a>
        <a href="/tag/downloads">Downloads</a>
        <a href="/tag/mixes">Mixes</a>
        <a href="/tag/podcasts">Podcasts</a>
        <a href="/tag/gallery">Gallery</a>
        <a href="/contact">Find Us</a>
        <a href="https://www.facebook.com/moelogicevents">Facebook</a>
        <a href="https://twitter.com/MoeLogic">Twitter</a>
        <a href="https://soundcloud.com/moelogic">SoundCloud</a>
    </nav>
</header>