<ul class="social-links">
    <li><a href="https://www.facebook.com/moelogicevents"><i class="fa fa-facebook-square"></i></a></li>
    <li><a href="https://twitter.com/MoeLogic"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://soundcloud.com/moelogic"><i class="fa fa-soundcloud"></i></a></li>
    <li><a href="mailto:moelogicbath@gmail.com"><i class="fa fa-envelope"></i></a></li>
</ul>