---
layout: page
title: Contact
permalink: /contact/
---

<header class="stripe-back">
	<div class="stripe-back__primary">
		<a href="{{ site.url }}/" class="stripe-back__link">
			<div class="stripe-back__arrow">
				{% include backarrow.svg %}
			</div>
		</a>
		<h1 class="stripe-back__title">Contact</h1>
	</div>
	<div class="stripe-back__secondary">
		{% include logo.svg %}
	</div>
</header>

<div class="page-wrapper--modal">

	<section class="contact-map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2463.34513190589!2d0.35858131546489436!3d51.87291229173368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d88d3f7ff6d833%3A0xcab496c28bc97403!2sPureBody+Health+Limited!5e0!3m2!1sen!2suk!4v1449505121223" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
	</section>

	<section class="contact-split-pane">
		<div class="contact-split-pane__inner">
			<div class="contact-split-pane__pane">
				<h1>Opening Hours</h1>
				<h2>Fitness Studio</h2>
				<p><em>Monday-Friday</em> 6am-10pm<br />
				<em>Saturday &amp; Sunday</em> 7am-3pm</p>

				<h2>Sports Injury Clinic</h2>
				<p><em>Monday</em> 9am - 8pm<br />
					<em>Tuesday</em> 8am - 9pm<br />
					<em>Wednesday</em> 9am - 8pm<br />
					<em>Thursday</em> 8am - 9pm<br />
					<em>Friday</em>  9am - 6pm<br />
					<em>Saturday</em> 9am - 6pm</p>

				<h2>Wellbeing Clinics</h2>
				<p>Please contact for more details regarding operating hours.</p>
			</div>
			<div class="contact-split-pane__pane">
				<h1>Get In Touch</h1>
				<p>admin@purebodyhealth.co.uk</p>
				<p>01371 874888</p>
			</div>
		</div>
	</section>

<div class="page-wrapper--modal">
