---
layout: page
title: Fitness
permalink: /fitness/
---

<header class="stripe-back">
	<div class="stripe-back__primary">
		<a href="{{ site.url }}/" class="stripe-back__link">
			<div class="stripe-back__arrow">
				{% include backarrow.svg %}
			</div>
		</a>
		<h1 class="stripe-back__title">Health &amp; Fitness</h1>
	</div>
	<div class="stripe-back__secondary">
		{% include logo.svg %}
	</div>
</header>

<div class="page-wrapper--modal">
	<article class="content-wrapper--wellbeing">
		<section class="content-panel--introduction">
			<div class="content-panel--introduction__inner">
				<h1 class="content-panel--introduction__title">Membership Prices</h1>

				<div class="content-panel--introduction__splits">
          <div class="content-panel--introduction__splits__section">
						<h3 style="margin-top: 0;">Pure Class</h3>
						<p><strong>Classes only - no contract</strong></p>
						<p>£30 per class voucher - entitles you to 6 classes per voucher. Must be used within 2 months.</p>
						<h3>Pure Silver</h3>
						<p><strong>3 month contract</strong></p>
						<p>£39 per month. 1 x 60min personal training session.</p>
						<h3>Pure Gold</h3>
						<p><strong>6 month contract</strong></p>
						<p>£39 per month (5% discount on paying 6 months in advance). 2 x 60min personal training sessions.</p>
						<h3>Pure Platinum</h3>
						<p><strong>12 month contract</strong></p>
						<p>£39 per month (10% discount on paying 12 months in advance). 2 x 60min personal training session. 2 x 30min sports massage.</p>
					</div>
					<div class="content-panel--introduction__splits__section">
						<p>All memberships are subject to a joining fee of £30 which covers cost of administration, induction, health check, personal training session with a personalised program - all to be booked when joining. Membership entry card is subject to a £10 refundable deposit.</p>
						<p>We have concession for student, over 65's group and the one day guest pass.</p>
					</div>
				</div>
			</div>
		</section>

		<section class="content-panel--introduction">
			<div class="content-panel--introduction__inner">
				<h1 class="content-panel--introduction__title">Personal Training</h1>
				<div class="content-panel--introduction__gallery">
					<figure>
						<img src="{{ site.url }}/images/gym/gym1.jpg" alt="Sports">
					</figure>
					<figure>
						<img src="{{ site.url }}/images/training/personal1.jpg" alt="Injury">
					</figure>
					<figure>
						<img src="{{ site.url }}/images/training/personal2.jpg" alt="Clinic">
					</figure>
				</div>
				<div class="content-panel--introduction__splits">
					<div class="content-panel--introduction__splits__section">
						<h3>Single Sessions</h3>
						<p>Expert Single Session - £39.00<br>
						Pro Single Session - £29.00<br>
						Director Single Session - £50.00<br>
						Block bookings are available on request, and we offer 6 bookings for the price 5, or 12 for the price of 10.</p>
						<h3>PureBody Hiit Sessions</h3>
						<p>PureBody Hiit are one-off high intensity interval training sessions. These sessions require two to four people to reserve.</p>
					</div>
					<div class="content-panel--introduction__splits__section">
						<h3>Pure Lean</h3>
						<p>For £249.00, you'll receive six weeks of one-to-one training, after a tailored fitness consultation and a tailored nutrition consultation.</p>
						<h3>PureBody Transformation</h3>
						<p>For £399.00, you'll receive twelve weeks of one-to-one training, after a tailored fitness consultation and a tailored nutrition consultation. You'll also have a six week progress review, and a graduation.</p>
					</div>
				</div>
			</div>
		</section>
		<section class="content-panel--introduction">
			<div class="content-panel--introduction__inner">
				<h1 class="content-panel--introduction__title">Group Training</h1>
				<div class="content-panel--introduction__splits">
					<div class="content-panel--introduction__splits__section">
						<p>Please speak to a member of the team regarding the discount on block bookings. Book early to avoid disappointment - please call 01371 874 888. Please give at least 24hr notice of any cancellations so that we may fill the space – thank you for your co-operation.</p>
					</div>
					<div class="content-panel--introduction__splits__section">
						<p><a class="snap-button" href="https://clients.mindbodyonline.com/classic/ws?studioid=210466&stype=-7&sView=day">See full class timetable</a></p>
					</div>
				</div>
				<div class="content-panel--introduction__gallery">
					<figure>
						<img src="{{ site.url }}/images/gym/gym2.jpg" alt="Sports">
					</figure>
					<figure>
						<img src="{{ site.url }}/images/training/group1.jpg" alt="Injury">
					</figure>
					<figure>
						<img src="{{ site.url }}/images/training/group2.jpg" alt="Clinic">
					</figure>
				</div>
				<div class="content-panel--introduction__splits">
					<div class="content-panel--introduction__splits__section">
						<h3>Pure Psycle (45 min)</h3>
						<p>Generally speaking Spin classes are low impact but high intensity training. Each instructor will push you at different levels but remember to work at your pace when you need. Some classes may use the heart monitor. Definitely a wake up class! Some classes have an extra 15min. Cardio training and intense leg work out. If you plan to take up outdoor cycling or have a cycle challenge in mind, this will get you saddle ready. This session is suitable who regularly spinor if you want to work out before work regardless of level.</p>
						<h3>Pure Body Sculpt (60 min)</h3>
						<p>This workout combines strength, stamina and flexibility – everything you need to sculpt your body. A pretty intense workout to improve overall fitness. Impact varies. This is full functional training. Losing weight and improving your whole body appearance with long lean muscle tone. Functional training at its best! This session is suitable for everyone who wants to intensify their functional, core, stability training.</p>
						<h3>Hiit Sessions (30 - 60 mins)</h3>
						<p>These sessions are High Intensity Interval Training (HIIT): For groups of 2 – 4 persons = £40 Per session. Sessions will vary depending on instructor but you are guaranteed to work cardio, strength and stamina at a high level. CLASSES BOOKABLE ANY FREE SLOT WITH ONE OF OUR PT’S. Bursts of intensity and speed, Increasing stamina, speed, strength, flexibility, and increase muscle tone and definitionIf you need to be pushed – this is for you! Those who want to be pushed and feel they need that extra ‘bit’ – regardless of fitness level – this is a challenge.</p>
						<h3>Pure BodyBounce (2 x 30 mins)</h3>
						<p>The most fun you will have burning calories in 30min. Re-Bounding is said to have many benefits: Improves circulation.Increases the capacity of heart and lungs. Helps to lower cholesterol, stress and tension levels. The 09:30 class is Pure Bounce and the 10:00 Class is a Pure Mix of Bounce &amp; Sculpt. Improving co-ordination and balance.and improves lymph drainage. An immune system boost, for weight loss, reduction of cellulite and more...</p>
					</div>
					<div class="content-panel--introduction__splits__section">
						<h3>Core Stability (60 mins)</h3>
						<p>Not just an abdominal workout. Although this will tighten and flatten the tummy. There are many other benefits:Tightens the abdominal structures involved in movement and improves the transfer of power to and from the extremities.Teaches the muscles to work together efficiently and effectively.Aids in the prevention of injury.Improves spinal and postural control while the body is still and in motion.Helps to stabilize and align the spine, ribs and pelvis of a person to withstand static and dynamic force.Can improve respiratory function. Facilitates proper distribution of weight and assists the body in absorption of force and transfer of forces.Realignment and postural positioning.</p>
						<h3>Pure Hell Circuit (60 mins)</h3>
						<p>This class varies weekly structured between muscle groups and cardio fitness. The use of the weight machines / studio &amp; cardio rooms are compulsory and Chris will push you to your limit. You’ll be dripping but you’ll certainly have a lot of fun along the way. Really challenges your fitness level. Don’t be afraid to try it, everyone’s got to start somewhere! ALL levels catered for. This class is best for Intermediate to Advanced (beginners always welcome).</p>
						<h3>Body Box (60 mins)</h3>
						<p>Designed to work your aerobic and anaerobic fitness levels: This class will have you packing punches, smashing crunches and everything in between and it’s a great way to burn calories whilst having some fun. Working hard at the gym but fancy something different – give this a go! A definite stress buster!</p>
					</div>
				</div>
			</div>
		</section>

		<section class="content-panel--staff">
			<div class="content-panel--staff__inner">
				<h1 class="content-panel--staff__title">Staff</h1>

				<div class="content-panel--staff__unit">
					<img class="content-panel--staff__unit__image" src="{{ site.url }}/images/staff/danny-g.jpg" alt="Danny Gosshawk">
					<div class="content-panel--staff__unit__mid-text">
						<h1>Danny Gosshawk <span>BSc (Hons) MSST</span></h1>
						<h2>Owner, Clinical Director</h2>
						<p>Specialises in biomechanical injuries and orthopaedic surgery rehabilitation.</p>
						<p>Physio in professional sport.</p>
						<p>Affiliated with GB Karate, Tennis and Skiing.</p>
					</div>
					<div class="content-panel--staff__unit__bio">
						<p>I thrive on helping others achieve their personal health and fitness goals all the way from recovering over a minor injury or surgery through to learning to walk again and running their first marathon. We believe that a Pure Body provides a Pure Mind.</p>
					</div>
				</div>

				<div class="content-panel--staff__unit">
					<img class="content-panel--staff__unit__image" src="{{ site.url }}/images/staff/angus-m.jpg" alt="Angus McLaren">
					<div class="content-panel--staff__unit__mid-text">
						<h1>Angus McLaren</h1>
						<h2>Fitness &amp; Gym Instructor</h2>
						<h2>Boxercise Instructor</h2>
						<h2>Circuits Instructor</h2>
					</div>
					<div class="content-panel--staff__unit__bio">
						<p>Running the Virgin London Marathon in 2014 as well as other high competitive long distance races has given me the first hand knowledge of what training needs to be done in order to reach your goals. My aim is to become a Royal Marine. Motivation, determination, and persistence is vitally important to achieve any goal.</p>
					</div>
				</div>

				<div class="content-panel--staff__unit">
					<img class="content-panel--staff__unit__image" src="{{ site.url }}/images/staff/sandra-t.jpg" alt="Danny Gosshawk">
					<div class="content-panel--staff__unit__mid-text">
						<h1>Sandra Thompson</h1>
						<h2>Gym Manager</h2>
						<h2>Fitness Instructor</h2>
						<h2>Personal Trainer</h2>
						<p>Personal Achievements: Mount Everest, Machu Picchu, and 3 Peaks</p>
					</div>
					<div class="content-panel--staff__unit__bio">
						<p>As a natural motivator, I take great pleasure in seeing others achieve their goals; whether it is to lose weight, become fitter or physically stronger – your health &amp; fitness matters to me and to the team here. My specialist HIIT Sessions are a must if you want to be pushed!</p>
					</div>
				</div>

			</div>
		</section>
	</article>
</div>
