---
layout: page
title: Juice
permalink: /juice/
---

<header class="stripe-back">
	<div class="stripe-back__primary">
		<a href="{{ site.url }}/" class="stripe-back__link">
			<div class="stripe-back__arrow">
				{% include backarrow.svg %}
			</div>
		</a>
		<h1 class="stripe-back__title">PBH Juice</h1>
	</div>
	<div class="stripe-back__secondary">
		{% include logo.svg %}
	</div>
</header>

<div class="page-wrapper--modal">

	<article class="content-wrapper--wellbeing">

		<section class="content-panel--introduction">
			<div class="content-panel--introduction__inner">
				<!--<h1 class="content-panel--introduction__title">Juice</h1>-->
				<div class="content-panel--introduction__splits">
					<div class="content-panel--introduction__splits__section">
						<img src="{{ site.url }}/images/juice/menu.jpg" alt="PBH Juice Menu">
					</div>
					<div class="content-panel--introduction__splits__section">
						<h3>Opening Hours</h3>
						<p><em>Monday - Friday</em> 9am - 10pm<br />
							<em>Saturday</em> 8am - 3pm</p>

						<h3>Get In Touch</h3>
						<p>01371 874888</p>

						<h3>Delivery &amp; Takeout</h3>
						<p>Pre order and collect at a time that suits you<br/>
						<p>Drink in or take out<br/>
						<p>Free delivery to High Street addresses</p>
					</div>
				</div>
			</div>
		</section>

		<section class="content-panel--introduction">
			<div class="content-panel--introduction__inner">
				<h1 class="content-panel--introduction__title">Clean, Lean &amp; Delicious Detox</h1>
				<div class="content-panel--introduction__gallery--dual">
					<figure>
						<img src="{{ site.url }}/images/juice/1.png" alt="1">
					</figure>
					<figure>
						<img src="{{ site.url }}/images/juice/2.png" alt="2">
					</figure>
				</div>
				<div class="content-panel--introduction__splits">
					<div class="content-panel--introduction__splits__section">
						<p>We have specially created three juices for each day with the help of our resident nutritionist which will provide you the necessary nutrients for your Detox. The main benefits of this Detox are to give you a clean, lean but delicious diet. This will aid with weight loss, skin cleanse, increase immunity and clear viruses.</p>
						<p>You will be given a juice for breakfast, lunch and dinner. You will also be provided a supply of our very own energy balls to keep you going and your energy levels high. You are advised to consume at least 3 Litres of water every day, and you can consume as much herbal tea as you wish.</p>
						<p>Once you complete your Detox we will provide you with a FREE shake of your choice from our menu and also a 1 week FREE pass to use at our health club PureBody Health.</p>
					</div>
					<div class="content-panel--introduction__splits__section">
						<p>The full programme usually costs £49.99 per person but we have deal just for you and your friends. If you can gather another two juicers we will provide all of the above to all groups of 3 or more for £44.99 each!</p>
						<p>Please contact us if you have any questions. We look forward to getting you started on your PBH Juice 'Clean, Lean &amp; Delicious' Detox.</p>
						<p>For all queries contact the PBH Juice team on:</p>
						<p><a href="mailto:juice@purebodyhealth.co.uk">juice@purebodyhealth.co.uk</a><br />
						01371 874888</p>
					</div>
				</div>
			</div>
		</section>

	</article>

</div>
