---
layout: page
title: Sports Injury Clinic
permalink: /sportsinjuryclinic/
---

<header class="stripe-back">
	<div class="stripe-back__primary">
		<a href="{{ site.url }}/" class="stripe-back__link">
			<div class="stripe-back__arrow">
				{% include backarrow.svg %}
			</div>
		</a>
		<h1 class="stripe-back__title">Sports Injury Clinic</h1>
	</div>
	<div class="stripe-back__secondary">
		{% include logo.svg %}
	</div>
</header>

<div class="page-wrapper--modal">
	<article class="content-wrapper--wellbeing">

    <section class="content-panel--introduction">
      <div class="content-panel--introduction__inner">
        <h1 class="content-panel--introduction__title">Welcome to PureBody Health Sports Injury Clinic</h1>
        <div class="content-panel--introduction__gallery">
					<figure>
						<img src="{{ site.url }}/images/wellbeing/clinic1.jpg" alt="Sports">
					</figure>
					<figure>
						<img src="{{ site.url }}/images/wellbeing/clinic2.jpg" alt="Injury">
					</figure>
					<figure>
						<img src="{{ site.url }}/images/wellbeing/clinic3.jpg" alt="Clinic">
					</figure>
				</div>
        <div class="content-panel--introduction__splits">
          <div class="content-panel--introduction__splits__section">
            <h3>Summary</h3>
  						<p>At PureBody Sports Injury Clinic we follow a simple and effective consultation process known as the <em>W-PLAN</em>. This ensures your injury gets diagnosed and on the road to recovery as quickly as possible. We treat <em>every</em> client as if they were a professional athlete, after all why should <em>your</em> pains be treated any differently to a World Champion 100-metre sprinters? <em>It shouldn't!</em></p>

            <h3>The Process</h3>
						<ol>
							<li><strong>We Listen </strong>so that we can get a full understanding of your injury.</li>
							<li><strong>We Assess. </strong>We like to make sure we know exactly what is going on and <em>nothing</em> is missed.</li>
							<li><strong>We Explain. </strong>It is important you understand what your body is thinking and we know how to hep you understand your body.</li>
							<li><strong>We Treat. </strong>We take huge pride in our ‘hands-on’ treatments. It contributes to a huge amount of your recovery but we can’t hold your hand all the time.</li>
							<li><strong>We Rehab. </strong> ‘Hands-on’ treatment is only part of a full recovery, the rest is rehabilitation. Using our fully equipped gymnasium, we make your rehabilitation <em>fresh</em> and <em>trendy!</em></li>
						</ol>

						<p><a class="snap-button" href="https://clients.mindbodyonline.com/classic/ws?studioid=210466&stype=-101&sTG=3&sView=week">Book Appointments</a></p>
          </div>

          <div class="content-panel--introduction__splits__section">
						<h3>Orthopaedic Injury Assessment</h3>
            <p>A full subjective and objective assessment at PureBody Health is the starting point for anybody suffering from pain or discomfort. We specialise in all musculoskeletal and sports injuries helping those with sprains and strains to back and neck pain. We can help if you suffer from any of the following:</p>
						<ul>
							<li>Sciatica</li>
							<li>Knee pain</li>
							<li>Plantar fasciitis</li>
							<li>Rotator cuff tendinitis</li>
							<li>Acute back pain</li>
							<li>Nerve pain</li>
						</ul>

						<h3>Sports Massage</h3>
						<p>Do you have a secret passion for <em>pain</em>? Don’t we all...</p>
						<p>This <em>deep</em> tissue massage is perfect for ironing out lumpy muscle fibres and reducing tension in all areas of the body.
						It is great both <em>pre</em> and <em>post</em> exercise because it assists with increasing mobility around joints as well as the elasticity of muscle tissue. A sports massage isn’t just for the athlete, in fact we use this treatment for a high number of manual workers and desk operatives who suffer from postural problems. A sports massage can be viewed as an ‘MOT’ for the body. We use this as an opportunity to break problems down before they progress into something more serious.</p>
						<p>At PureBody Sports Injury Clinic we strongly believe <em>prevention</em> is better than cure.</p>

						<h3>Rehabilitation</h3>
						<p>At PureBody Sports Injury Clinic we take a clients rehabilitation very serious in deed. This will be far from a generic set of exercises drawn using stick men on a photocopied piece of paper!</p>
						<p>Our rehabilitation programmes are specific to each individuals injury and their current goal. We provide both on-site and at home rehabilitation programme to help you recover from that injury and to get you back fighting fit whether at the office, on a work construction site or on the golf course. We believe that rehabilitation constitutes for over 50% of your injury recovery and have some new and trendy skills to get the exercises done. From experience, boring or repetitive exercises do NOT get done and this leads to a longer recovery.</p>
						<p>We provide START to FINISH rehabilitation for clients of all ages recovering from:</p>
						<ol>
							<li>Orthopaedic surgery</li>
							<li>Back pain and a weak core</li>
							<li>Posture dysfunction</li>
							<li>Ligament sprains and muscle strains</li>
							<li>Joint stiffness and immobility</li>
						</ol>
						<p>Rehabilitation sessions can last for 30 or 60 minutes and will include a personalised written programme emailed to you for your personal records. If you are that person that needs a little nudge with their rehabilitation exercises and wants the speediest recovery possible let us help you now!</p>

					</div>
        </div>
      </div>
    </section>

		<section class="content-panel--introduction">
			<div class="content-panel--introduction__inner">
				<h1 class="content-panel--introduction__title">Price List</h1>
				<div class="content-panel--introduction__splits">
					<div class="content-panel--introduction__splits__section">
						<ul>
							<li>Initial Consultation (60 mins) £55</li>
							<li>Injury Treatment (60 mins) £55</li>
							<li>Injury Treatment (30 mins) £35</li>
						</ul>
						<hr />
						<ul>
							<li>Practical Rehabilitation (60 mins) £70</li>
							<li>Practical Rehabilitation (30 mins) £35</li>
						</ul>
						<hr />
						<ul>
							<li>Sports Massage (90 mins) £70</li>
							<li>Sports Massage (60 mins) £50</li>
						</ul>
					</div>
					<div class="content-panel--introduction__splits__section">
						<h3 style="margin-top: 0;">Sports/Bio Mechanical Movement Analysis</h3>
						<p>Sports Movement &amp; Mechanics Analysis is desgined to assess and diagnose injries and pain causes, faulty postures and poor techniques. It helps to diagnose aches or pains but to provide you with an understanding and programme to help correct them.</p>
						<p>(3 x 60 minute sessions) £99</p>
						<p><strong>Includes</strong><br />
							History &amp; Biomechanics screening (60 mins)<br />
							Sports Movement Analysis &amp; Analytical Reporting (60 mins)<br />
							Treatment &amp; Rehabilitation (60 mins)
						</p>
					</div>
				</div>
			</div>
		</section>

  </article>
</div>
