---
layout: page
title: The Team
permalink: /the-team/
---

<header class="stripe-back">
	<div class="stripe-back__primary">
		<a href="{{ site.url }}/" class="stripe-back__link">
			<div class="stripe-back__arrow">
				{% include backarrow.svg %}
			</div>
		</a>
		<h1 class="stripe-back__title">The Team</h1>
	</div>
	<div class="stripe-back__secondary">
		{% include logo.svg %}
	</div>
</header>

<div class="page-wrapper--modal">
	<article class="content-wrapper--the-team">

<section class="content-panel--staff">
  <div class="content-panel--staff__inner">
    <h1 class="content-panel--staff__title">Staff</h1>

    <div class="content-panel--staff__unit">
      <img class="content-panel--staff__unit__image" src="{{ site.url }}/images/staff/danny-g.jpg" alt="Danny Gosshawk">
      <div class="content-panel--staff__unit__mid-text">
        <h1>Danny Gosshawk <span>BSc (Hons) MSST</span></h1>
        <h2>Owner, Clinical Director</h2>
        <p>Specialises in biomechanical injuries and orthopaedic surgery rehabilitation.</p>
        <p>Physio in professional sport.</p>
        <p>Affiliated with GB Karate, Tennis and Skiing.</p>
      </div>
      <div class="content-panel--staff__unit__bio">
        <p>I thrive on helping others achieve their personal health and fitness goals all the way from recovering over a minor injury or surgery through to learning to walk again and running their first marathon. We believe that a Pure Body provides a Pure Mind.</p>
      </div>
    </div>

    <div class="content-panel--staff__unit">
      <img class="content-panel--staff__unit__image" src="{{ site.url }}/images/staff/angus-m.jpg" alt="Angus McLaren">
      <div class="content-panel--staff__unit__mid-text">
        <h1>Angus McLaren</h1>
        <h2>Fitness &amp; Gym Instructor</h2>
        <h2>Boxercise Instructor</h2>
        <h2>Circuits Instructor</h2>
      </div>
      <div class="content-panel--staff__unit__bio">
        <p>Running the Virgin London Marathon in 2014 as well as other high competitive long distance races has given me the first hand knowledge of what training needs to be done in order to reach your goals. My aim is to become a Royal Marine. Motivation, determination, and persistence is vitally important to achieve any goal.</p>
      </div>
    </div>

    <div class="content-panel--staff__unit">
      <img class="content-panel--staff__unit__image" src="{{ site.url }}/images/staff/sandra-t.jpg" alt="Danny Gosshawk">
      <div class="content-panel--staff__unit__mid-text">
        <h1>Sandra Thompson</h1>
        <h2>Gym Manager</h2>
        <h2>Fitness Instructor</h2>
        <h2>Personal Trainer</h2>
        <p>Personal Achievements: Mount Everest, Machu Picchu, and 3 Peaks</p>
      </div>
      <div class="content-panel--staff__unit__bio">
        <p>As a natural motivator, I take great pleasure in seeing others achieve their goals; whether it is to lose weight, become fitter or physically stronger – your health &amp; fitness matters to me and to the team here. My specialist HIIT Sessions are a must if you want to be pushed!</p>
      </div>
    </div>

    <div class="content-panel--staff__unit">
      <img class="content-panel--staff__unit__image" src="{{ site.url }}/images/staff/daniel-b.jpg" alt="Daniel Baker">
      <div class="content-panel--staff__unit__mid-text">
        <h1>Daniel Baker <span>MSc BSc(Hons) GSR</span></h1>
        <h2>Sports Rehabilitation &amp; Exercise Medicine Practitioner</h2>
				<p>Daniel joins the PureBody Health Sports injury clinic team with extensive knowledge of both the body and mind. Originally a Sport and Exercise Science graduate, Daniel has gone on to further his experience in the healthcare field, obtaining a Masters degree in Sport Rehabilitation. Daniel possess a background as a Physio in professional football and rugby as well as a clinical background.</p>
				<p>Daniel specialises in sports injury assessment and treatment, orthopaedic injuries, functional screening, rehabilitation and Strength &amp; Conditioning. </p>
      </div>
      <div class="content-panel--staff__unit__bio">
				<p>I pride myself on the level of care I provide, and treat each an every client like an elite athlete, helping you to achieve your personalised goals. I am proud to offer a unique and well rounded service that facilitates recovery, fitness, performance and prevention.</p>
      </div>
    </div>

		<div class="content-panel--staff__unit">
			<img class="content-panel--staff__unit__image" src="{{ site.url }}/images/staff/ryan-p.jpg" alt="Ryan Pegrum">
			<div class="content-panel--staff__unit__mid-text">
				<h1>Ryan Pegrum</h1>
				<h2>Personal Trainer</h2>
				<h2>Fitness Trainer</h2>
				<h2>Kettlebell Instructor</h2>
				<h2>Nutritional &amp; Supplements Advisor</h2>
			</div>
			<div class="content-panel--staff__unit__bio">
				<p>As an upcoming Physique and Beach Body Competitor, I have firsthand knowledge of the hard work that has to be put in to both training and nutrition to achieve the goals you want, whether that is Weight Loss, Gaining Muscle or Training for Completions etc. I will work alongside you every step of the way using my experience and knowledge that I have gained over my time in the fitness industry to help you achieve your goals.</p>
			</div>
		</div>

		<div class="content-panel--staff__unit">
			<img class="content-panel--staff__unit__image" src="{{ site.url }}/images/staff/debbie-f.jpg" alt="Debbie Fisk">
			<div class="content-panel--staff__unit__mid-text">
				<h1>Debbie Fisk</h1>
				<h2>PBH Juice</h2>
				<p>Debbie is the lady behind the face at PBH Juice. Debbie provides clients, customers and visitors with a unique and friendly experience providing a speedy yet healthy service offering fresh juices, smoothies and shakes. As well as this, Debbie offers intense Detox programmes to suit a persons goal or needs. Most recently Debbie provides visitors with homemade healthy snacks to keep you fueled whilst on the go.</p>
			</div>
			<div class="content-panel--staff__unit__bio">
				<p>PBH Juice is a great addition to the PureBody Health family, we cater to everyone and provide access to a nutritious option on-the-go or an area to chill-out. Our Detox programmes are tailored to suit individual needs and are delicious!</p>
			</div>
		</div>

    <div class="content-panel--staff__unit">
      <img class="content-panel--staff__unit__image" src="{{ site.url }}/images/staff/jaclyn-d.jpg" alt="Jaclyn Dunne">
      <div class="content-panel--staff__unit__mid-text">
        <h1>Jaclyn Dunne <span>Dip Hyp CfNRegNutr</span></h1>
        <h2>Nutritionist</h2>
        <h2>Hypnotherapist</h2>
        <h2>Holisitic Life Coach</h2>
        <h2>F.I.T Practitioner</h2>
        <p>Specialises in weight loss.</p>
      </div>
      <div class="content-panel--staff__unit__bio">
        <p>Holistic Lifestyle Coach F.I.T Practitioner Specialises in weight loss. I am passionate about assisting clients in achieving a healthy body and mind through personalised hypnotherapy and nutrition advice. It is my desire to educate clients to decrease their toxic load in order to realise just how good their body is designed to feel.  What the mind believes the body will achieve. Optimal health and wellness is possible.</p>
      </div>
    </div>

  </div>
</section>

</article>
</div>
