---
layout: page
title: Wellbeing
permalink: /wellbeing/
---

<header class="stripe-back">
	<div class="stripe-back__primary">
		<a href="{{ site.url }}/" class="stripe-back__link">
			<div class="stripe-back__arrow">
				{% include backarrow.svg %}
			</div>
		</a>
		<h1 class="stripe-back__title">Wellbeing</h1>
	</div>
	<div class="stripe-back__secondary">
		{% include logo.svg %}
	</div>
</header>

<div class="page-wrapper--modal">
	<article class="content-wrapper--wellbeing">

		<section class="content-panel--staff">
			<div class="content-panel--staff__inner">
				<h1 class="content-panel--staff__title">Staff</h1>

				<div class="content-panel--staff__unit">
					<img class="content-panel--staff__unit__image" src="{{ site.url }}/images/staff/jaclyn-d.jpg" alt="Jaclyn Dunne">
					<div class="content-panel--staff__unit__mid-text">
						<h1>Jaclyn Dunne <span>Dip Hyp CfNRegNutr</span></h1>
						<h2>Nutritionist</h2>
						<h2>Hypnotherapist</h2>
						<h2>Holisitic Life Coach</h2>
						<h2>F.I.T Practitioner</h2>
						<p>Specialises in weight loss.</p>
					</div>
					<div class="content-panel--staff__unit__bio">
						<p>Hypnotherapist Holistic Lifestyle Coach F.I.T Practitioner Specialises in weight loss I am passionate about assisting clients in achieving a healthy body and mind through personalised hypnotherapy and nutrition advice. It is my desire to educate clients to decrease their toxic load in order to realise just how good their body is designed to feel.  What the mind believes the body will achieve. Optimal health and wellness is possible.</p>
					</div>
				</div>

		</section>
	</article>
</div>
