<header class="site-header">
	<div class="site-logo">
		<a href="{{ site.url }}">
			<img src="{{ site.url }}/images/logowhite.svg" alt="Canvas Theatre">
		</a>
	</div>
	<nav class="site-nav">
		<a href="{{ site.url }}/news/">News</a>
		<a href="{{ site.url }}/newtheatre/">Theatre</a>
		<a href="{{ site.url }}/scratch/">Scratch</a>
		<a href="{{ site.url }}/artists/">Artists</a>
		<a href="{{ site.url }}/workshops/">Workshops</a>
		<a href="{{ site.url }}/contact/">Contact</a>
	</nav>
</header>
