<header class="site-header--huge">
	<div class="site-logo--huge">
		<img src="{{ site.url }}/images/logowhite.svg" alt="Canvas Theatre">
	</div>
	<div class="site-header--huge__stab">
		Canvas Theatre is a brand new theatre company making work in Cornwall. Canvas aims to captivate and inspire their audiences, dedicated to making work that instils you with a sense of wonder at what it is to be human. Exploring the artistry of theatre, Canvas shows will be enchanting, innovative and fearless.
	</div>
	<nav class="site-navigation--huge">
		<a href="{{ site.url }}/news/">News</a>
		<a href="{{ site.url }}/newtheatre/">Theatre</a>
		<a href="{{ site.url }}/scratch/">Scratch</a>
		<a href="{{ site.url }}/artists/">Artists</a>
		<a href="{{ site.url }}/workshops/">Workshops</a>
		<a href="{{ site.url }}/contact/">Contact</a>
	</nav>
	<div class="site-header--huge__stab">
		<br>Scroll down.
	</div>
</header>
